[submodule "vendor/bootstrap"]
	path = vendor/bootstrap
	url = https://github.com/twitter/bootstrap.git
[submodule "node_modules/canvas"]
	path = node_modules/canvas
	url = https://github.com/elspoono/node-canvas-heroku
