<div class="navbar navbar-static">
  <div class="navbar-inner">
      <div class="container">
          <a class="brand" href="/">Board Game QR [alpha]</a>
          <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
          </ul>
          <form class="form-search navbar-search pull-left" action="" >
              <input id="searchtxt" class="search-query" type="text" />
              <button id="searchbtn" class="btn" type="submit">Get QR Code</button>
          </form>
      </div>
  </div>
</div>
