<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" /> 
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> 
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script> 
    {{ >gamesearch.html }}
  </head>
  <body>
      {{ >navbar.html }}
      <div class="container">
          {{ #has_qrcode }}
          <div id="qrcode" class="row">
              <div class="span4 offset4">
                  <img src="{{ qrcode_url }}" />
                  {{ #has_metadata }}
                  <p>{{ name }} ({{ yearpublished }})</p>
                  {{ /has_metadata }}

              </div>
          </div>
          {{ /has_qrcode }}
          <div id="about" class="row">
              <div class="span 8 offset2">
                  <h2>About</h2>

                  <p>Board Game QR is a prototype system that let's you log your game plays to Board Game Geek by scanning a QR code.</p>
                  <p>To use:</p>
                  <ol>
                      <li><a href="/signup">Sign up</a> for an account</li>
                      <li>Generate and print QR codes for your games. Try printing on sticker paper and sticking the QR code to your game box.</li>
                      <li>Scan the QR code with your smartphone to log a play</li>
                  </ol>

              </div>
          </div>
    </div>
  </body>
</html>
